@media screen and (max-width:1000px) {

    nav {
        flex-direction: column;
    }
.btn{
    position: relative;
    left: -30px;
}
    .slider {
        height: 50%;
    }

    .slider img {
        max-width: 40%;
        margin: 15px 5px;
        background-repeat: repeat-x;
    }

    .logo {
        justify-content: center;
        margin: 12px 0;
    }

    nav ul {
        justify-content: center;
    }

    .search {
        justify-content: center;
    }

    .search input {
        margin: 12px 16px;
    }

    nav ul {
        height: 34px;
    }

    .card-item img {
        width: 140px;
    }
.copy{
    max-height: 20px;
}

    .owner{
        position: relative;
        top: -43px;
        max-height: 10px;
    }
}