.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn {
    height: 27px;
    width: 74px;
    margin: 0 18px 0 -43px;
    padding: 0 5px;
    color: white;
    background-color: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    font-weight: bolder;
}

.my-1 {
    margin: 5px 0;
}

.my-2 {
    margin: 26px 0;
}

.text-center {
    text-align: center;
}