@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --main-bg-color: #2874f0;
    --main-color: #99baee;
}

header {
    background-color: var(--main-bg-color);
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 88px;
    padding: 0px 25px;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    font-weight: bolder;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    padding-left: 10px;
    width: 500px;
    height: 27px;
    border-radius: 5px;
    margin: 0 56px;
}

.container {
    min-height: calc(100vh - 58px - 11vh);
    overflow: hidden;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 207, 207);
    border-radius: 2px;
    padding: 10px 0px;
    margin: 10px 0;
}

.slider img {
    max-width: 20%;
    margin: 7px 5px;
    background-repeat: repeat-x;
    animation: slide 5s linear infinite reverse;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(-100px, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

.card {
    max-width: 91vw;
    margin: 37px auto;
    font-family: 'Ubuntu', sans-serif;
}

.cards {
    display: flex;
    overflow: scroll;
}

.card-item {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}

.card h2 {
    font-family: 'Lato', sans-serif;
}

footer {
    background-color: var(--main-bg-color);
    color: white;
    height: 11vh;
    font-family: 'Lato', sans-serif;
    padding-bottom: 20px;
}

.copy {
    position: relative;
    left: 10%
}

.owner {
    position: relative;
    left: -6%;
    top: 5px;
}

.owner a {
    color: black;
}

.owner a:hover {
    color: white;
}